extends layout

block content
  main(class='container')
    form(class='form-horizontal')
      div(class='form-group')
        label(for='place', class='control-label') Название населенного пункта:
        select(name='place', class='form-control')
          each place in places
            option(value=place.id) #{place.Name}
